html {
  height: 100%;
  margin: 0;
  font-family: 'Consolas', monospace;
  overflow: hidden; /* Impedir a rolagem da tela */
  background-color: #E65100; /* Cor de fundo */
  position: relative;
}

body {
  margin: 0;
}

html::before {
  content: '';
  background: url('./assets/logo2.png') no-repeat 50% 50%;;
  position: absolute;
  top: 65%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
  width: 80%; /* 50% da largura da janela */
  height: 150%; /* 50% da altura da janela */
}

#root {
  height: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* Impedir o overflow do conteúdo */
}


.content {
  display: flex;
  align-items: center;
}

.text {
  color: #fff;
  margin-right: 1rem;
}

h1 {
  color: #fff;
  font-size: 3em;
}

button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Consolas', monospace;
}

.text {
  color: #fff;
  margin-right: 1rem;
}


h2 {
  color: #fff;
  font-size: 1.5em;
}

input[type="text"] {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-right: 10px;
  font-family: 'Consolas', monospace;
}
